<div class='col-md-8'>
  <div class='search'>
    <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :search%>
      <%= submit_tag "Search", class: "btn btn-info btn-md", role: "button" %>
    <% end %>
  </div>
  <h2> Metric tons of coal used </h2>
  <svg  class="chart">
  </svg>
</div>

