<div class="header">
  <h1>Metric tons of coal use</h1>
  <p class="search">search by state</p>
  <%= form_tag root_path, method: :get do%>
    <p>
      <%= text_field_tag :search%>
      <%= submit_tag "Search" %>
    </p>
  <% end %>
</div>
  <p> Params: <%= params %>
<svg  class="chart">
</svg>


