<div class='col-md-6'>
  <h3 class="chart-title"> Metric tons of coal used in your mom</h3>
  <div class="bar-chart">
    <div class="chart">
      <div id="2013" class="bar" style="width: 0%"></div>
    </div>
    <div class="chart">
      <div id="2012" class="bar" style="width: 0%"> </div>
    </div>
    <div class="chart">
      <div id="2011" class="bar" style="width: 0%"> </div>
    </div>
    <div class="chart">
      <div id="2010" class="bar" style="width: 0%"> </div>
    </div>
    <div class="chart">
      <div id="2009" class="bar" style="width: 0%"> </div>
    </div>
    <div class="chart">
      <div id="2008" class="bar" style="width: 0%"> </div>
    </div>
    <div class="chart">
      <div id="2007" class="bar" style="width: 0%"> </div>
    </div>
    <div class="chart">
      <div id="2006" class="bar" style="width: 0%"> </div>
    </div>
    <div class="chart">
      <div id="2005" class="bar" style="width: 0%"> </div>
    </div>
    <div class="chart">
      <div id="2004" class="bar" style="width: 0%"> </div>
    </div>
    <div class="chart">
      <div id="2003" class="bar" style="width: 0%"> </div>
    </div>
    <div class="chart">
      <div id="2002" class="bar" style="width: 0%"> </div>
    </div>
    <div class="chart">
      <div id="2001" class="bar" style="width: 0%"></div>
    </div>
  </div>
</div>
