<div class='well menu-well'>
  <img class='state-pic' src='http://i.ebayimg.com/00/s/NDIwWDU3Ng==/z/VP8AAOxyE-dRy2~-/$T2eC16JHJHsFGlGzglvJBRy2+-WL2Q~~60_35.JPG' alt='state-pic'>
  <ul class="nav nav-pills nav-stacked">
    <li><a href='#'>Electricity</a></li>
    <li><a href='#'>Petroleum</a></li>
    <li><a href='#'>Coal</a></li>
  </ul>
</div>
