<div class='container'>
  <h1> Metric tons of coal used </h1>
  <div class='search'>
    <div class="form-group">
    <label class="sr-only" for="search" action="submit">Search by State</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="turn up">
  </div>
  </div>
</div>
<svg class="chart">
</svg>
