<!DOCTYPE html>
<html>
<head>
  <title>D3project</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="app/assets/javascripts/d3.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
