h3{
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}
.search{
  margin: 0 auto;
  margin-top: 40px;
  max-width: 400px;
  margin-bottom: 30px;
}
#search{
  margin-top: 10px;
  width: 80%;
}
.nav-stacked{
  margin-top: 150px;
}
.menu-well{
  margin-top: 100px;
}
.state-pic{
  width: 100px;
}
.btn{
  padding: 2px;
}
@-webkit-keyframes bar {
   0% { width: 0; }
}
@-moz-keyframes bar {
   0% { width: 0; }
}
.bar{
  -webkit-animation: bar  2s;
  -moz-animation: bar 2s;
}
.chart > div {
  height: 30px;
  background-color: green;
  margin-top: 2px;
}
.bar-chart{
  margin: 0 auto;
  max-width: 300px;
  transform:rotate(-90deg);
  -ms-transform:rotate(-90deg); /* IE 9 */
  -webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */
}
