h3{
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  height: 75px;
}
.nav-stacked{
  margin-top: 150px;
}
.menu-well{
  margin-top: 100px;
}
.state-pic{
  width: 100px;
}
@-webkit-keyframes bar {
   0% { width: 0; }
}
@-moz-keyframes bar {
   0% { width: 0; }
}
.bar{
  height: 7px;
  background-color: blue;
  margin-top: 5px;
}
.bar-chart{
  margin-left: 100px;
  max-width: 300px;
  height: 500px;
  transform:rotate(-90deg);
  -ms-transform:rotate(-90deg); /* IE 9 */
  -webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */
}
.no-data{
  position: relative;
  top: 230px;
  text-align: center;
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -webkit-transform:rotate(90deg);
}
