h3{
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  height: 75px;
}
.nav-stacked{
  margin-top: 150px;
}
text{
  transform:rotate(10deg);
  -ms-transform:rotate(10deg); /* IE 9 */
  -webkit-transform:rotate(10deg);
}
.menu-well{
  margin-top: 100px;
}
.state-pic{
  width: 100px;
}
rect{
  fill: rgba(11, 169, 6, 0.5);
  stroke: green;
}
/*.chart{
  transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
}*/
.no-data{
  position: relative;
  top: 230px;
  text-align: center;
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -webkit-transform:rotate(90deg);
}
